.bg-header-0 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/smoke-png-541.png') no-repeat;
    background-size: cover;
  }
  
  .bg-header-1 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg1.jpg') no-repeat;
    background-size: cover;
  }
  
  .bg-header-2 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg-3.jpg') no-repeat;
    background-size: cover;
  }
  
  .bg-header-3 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg-5.jpg') no-repeat center center;
    background-size: cover;
  }

  .bg-header-4 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg-4.jpg') no-repeat center center;
    background-size: cover;
  }
  

  .bg-header-5 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg-6.jpg') no-repeat center center;
    background-size: cover;
  }

  .bg-theme-3 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/small/theme4nuxt-theme-3.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .bg-header-7 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg-7.jpg') no-repeat center center;
    background-size: cover;
  }

  .bg-header-8 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg-8.jpg') no-repeat center center;
    background-size: cover;
  }

  .bg-header-9 {
    background: url('https://storage.googleapis.com/ghostfood-539ae.appspot.com/theme4nuxt/bg-9.jpg') no-repeat center center;
    background-size: cover;
  }

  .h-80 {
    height:20rem;
  }
  .h-96 {
    height:24rem;
  }
  
  .h-128 {
    height:32rem;
  }
  
.clipped-menu { 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 81%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 81%);

}


.clipped-menu-right { 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 81% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 81%, 81% 100%, 0 100%);
}

.clipped-right-point {
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.clipped-left-point {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.clipped-tag-down {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 51% 84%, 0 100%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 100%, 51% 84%, 0 100%, 0 0);
}

.clipped-circle-left {
    -webkit-clip-path: circle(92.6% at 26% 0);
clip-path: circle(92.6% at 26% 0);
}

.clipped-zig-zag {
    -webkit-clip-path: polygon(35% 33%, 70% 12%, 100% 32%, 100% 93%, 66% 75%, 38% 93%, 0 68%, 0 13%);
    clip-path: polygon(35% 33%, 70% 12%, 100% 32%, 100% 93%, 66% 75%, 38% 93%, 0 68%, 0 13%);
}

.clipped-angle-right {
  clip-path:  polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}

.clipped-angle-right-lg {
  clip-path:  polygon(0 0, 100% 0, 100% 64%, 0% 100%);
}

.clipped-angle-left {
  clip-path:  polygon(0 0, 100% 0, 100% 100%, 0% 94%);
}

.clipped-angle-left-lg {
  clip-path:  polygon(0 0, 100% 0, 100% 100%, 0% 64%);
}

.clipped-angle-up-right {
  clip-path: polygon(0 36%, 100% 0, 100% 100%, 0 100%);
}
.clipped-arrow-left {
    -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 14% 99%, 0 50%);
clip-path: polygon(14% 0, 100% 0, 100% 100%, 14% 99%, 0 50%);
}

.clipped-arrow-down {
    -webkit-clip-path: polygon(17% 0, 83% 0, 83% 59%, 100% 60%, 50% 100%, 0% 60%, 17% 60%);
    clip-path: polygon(17% 0, 83% 0, 83% 59%, 100% 60%, 50% 100%, 0% 60%, 17% 60%);
}

.clipped-next {
    -webkit-clip-path: polygon(0 40%, 0 0, 100% 0, 100% 100%, 70% 100%, 0 100%, 0 60%, 3% 50%);
    clip-path: polygon(0 40%, 0 0, 100% 0, 100% 100%, 70% 100%, 0 100%, 0 60%, 3% 50%);
}
.clipped-half-down {
   -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    
    transition: all 750ms ease-in-out
 
}
.slide-enter-active {
    transition: transform .8s ease-in-out;
 }
 
 .slide-leave-active {
    transition: transform .8s ease-in-out;
 }
 
 .slide-enter-to, .slide-leave {
    /*max-height: 100%;*/
    overflow: hidden;
    opacity:1;
 }
 
 .slide-enter, .slide-leave-to {
    overflow: hidden;
    /*max-height: 0;*/
    opacity:0;
 }

/*---------------------------*/

.slideleft-enter-active {
    transition: transform .8s ease-in-out;
 }
 
 .slideleft-leave-active {
    transition: transform .8s ease-in-out;
 }
 
 .slideleft-enter-to, .slideleft-leave {
    transform: translate(0%, 0);
    overflow: hidden;
 }
 
 .slideleft-enter, .slideleft-leave-to {
    transform: translate(-100%, 0);
    margin-right: 0;
 }

/*----------------------------*/

/*---------------------------*/

.slideright-enter-active {
   transition: transform .8s ease-in-out;
}

.slideright-leave-active {
   transition: transform .8s ease-in-out;
}

.slideright-enter-to, .slideright-leave {
   transform: translate(0%, 0);
   overflow: hidden;
}

.slideright-enter, .slideright-leave-to {
   transform: translate(100%, 0);
   margin-right: 0;
}

/*----------------------------*/

.flip {
   transition: transform .5s ease-in-out; 
   transform: rotateY(0deg);
}

.flip > div {
   transform: rotateY(180deg);
   width:100%;
   height:100%;
   opacity:0;
}

.flip:hover {
   transition: transform .8s ease-in-out; 
   transform: rotateY(180deg);
   opacity:1
}

.flip:hover > div {
   transition: transform .8s ease-in-out; 
   transform: rotateY(180deg);
   opacity:1
}

.slidedown > div {
   transition: transform .8s ease-in-out;
   transform: translate(0,-100%);
   opacity:0;
}

.slidedown:hover > div {
   transition: transform .8s ease-in-out;
   transform: translate(0,0);
   min-width:100%;
   opacity:1;
}

.scale-1 {
   transition: transform .2s ease-in-out;
   transform: scale(1,1);
   z-index:1; 
}

.scale-1:hover {
   transition: transform .2s ease-in-out;
   transform: scale(1.2,1.2); 
   z-index:10;
}

.submenu > div {
   opacity:0;
}

.submenu:hover > div {
   opacity:1;
}

/*---------------------------*/

.slidedown-enter-active {
    transition: transform .8s ease-in-out;
 }
 
 .slidedown-leave-active {
    transition: transform .8s ease-in-out;
 }
 
 .slidedown-enter-to, .slidedown-leave {
    transform: translate(0, 0);
    overflow: hidden;
 }
 
 .slidedown-enter, .slidedown-leave-to {
    transform: translate(0, -100%);
    margin-right: 0;
 }

/*----------------------------*/

/*---------------------------*/
.w-translate-center {
    margin:0 auto;
    position:absolute;
    transform: translate(-50%,0);
}

@media screen and (max-width: 576px){
    .w-translate-center {
        transform: translate(0,0);
    }
}
.slidedowncenter-enter-active {
    transition: transform .8s ease-in-out;
 }
 
 .slidedowncenter-leave-active {
    transition: transform .8s ease-in-out;
 }
 
 .slidedowncenter-enter-to, .slidedowncenter-leave {
    transform: translate(-50%, 0);
    overflow: hidden;
 }
 
 .slidedowncenter-enter, .slidedowncenter-leave-to {
    transform: translate(-50%,-100%);
    overflow:hidden;
 }

/*----------------------------*/

 
 .rotate-enter-active {
     transition: transform .8s ease-in-out; 
 }
 .rotate-leave-active {
    transition: transform 0.8s ease-in-out;  
 }
 
 .rotate-enter-to, .rotate-leave {
     transform:rotate(360deg);
 }
 
 .rotate-enter , .rotate-leave-to {
     max-width:0px;
     max-height:0px;
     transform:rotate(0deg);
 }

 .gradient-blue {
   background-color: #667eea;
   background-image: linear-gradient(to bottom, #00c6fb, #005bea)
 }

 
 .gradient-blue-dark {
   background-color: #455ab9;
   background-image: linear-gradient(to bottom, #455ab9, #012e77)
 }

 .gradient-blue-green {
   background-color: #179489;
   background-image: linear-gradient(to bottom, #179489, #005d81)
 }

 .gradient-green {
   background-color: #66ea9d;
   background-image: linear-gradient(to bottom, #66ea9d, #20b40c)
 }

 @media screen and (max-width: 576px){
    .mobile {
      display:none;
    }
 }

 .h-full-calc-1-4 {
    min-height: calc(100vh*.25);
 }

 .h-full-calc-1-2 {
   min-height: calc(100vh*.50);
}
